@import "shared/styles/palette.scss";

.navigation {
  &__toggle {
    line-height: 0.8;
  }

  &__toggle-icon {
    width: 1.125rem;
    height: 1.125rem;
  }

  &__routes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 0.5rem;
  }

  &__route-link {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: $wild-sand;

    &-icon {
      margin-right: 0.6em;
      font-size: 1.4em;
    }

    &:hover,
    &_active {
      background-color: $ebony-clay;
    }
  }
}
