@import "shared/styles/mixins/adaptive.scss";

.layout {
  min-height: 100% !important;

  &__content {
    align-self: center;
    max-width: 500px; // TODO: rework layout
    width: 100%;

    @include respond-to(mobile) {
      max-width: unset;
    }
  }
}
