@import "shared/styles/palette.scss";
@import "shared/styles/constants.scss";

.message-input {
  padding: 0.5rem 0;
  background-color: $mirage;

  &__input {
    padding-right: 1.75rem;
    border: none;
    border-radius: 0;
    background-color: $mirage;
    color: $wild-sand !important;
    font-size: 1rem;
    font-family: $primary-font;
    resize: none;
  }

  &__send-icon {
    position: absolute;
    right: 0.3125rem;
    bottom: 0.125rem;
    font-size: 1.2rem;
    color: $wild-sand;
    cursor: pointer;
  }
}
