// Find color name http://chir.ag/projects/name-that-color

$mirage: #19222a;
$wild-sand: #f5f5f5;
$black-pearl: #1a2632;
$vulcan: #101720;
$san-juan: #325475;
$shuttle-gray: #556471;
$ship-cove: #6f94b8;
