@import "shared/styles/palette.scss";

.chat-message {
  display: flex;
  width: 100%;
  color: $wild-sand;
  $r: &;

  &__avatar {
    margin-right: 0.5rem;
  }

  &__content {
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: $black-pearl;

    #{$r}_is-own & {
      background-color: $san-juan;
    }
  }

  &__body {
    margin-top: 0.25rem;
    font-size: 0.875rem;
  }

  &__created-at {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: $shuttle-gray;
    text-align: end;

    #{$r}_is-own & {
      color: $ship-cove;
    }
  }
}
